body {
    background-color: bisque;
    font-family: sans-serif;
    font-size: 26pt;
    background-image: url("subtle-waves1024.jpg");
    color: mediumturquoise;
}
header h1, h2, p{
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.bio {
    float: right;
    position:relative;
;
}
.assignment {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
.assignment a{
    color: lightblue;
}
.assignment tr:nth-child(odd) {
    background:burlywood;
}
.assignment tr:nth-child(even) {
    background: cadetblue;
}
a:hover {
    color: red;
}
a {
    color: mediumturquoise;
}
.emph {
    font-weight: bold;
    color:red
}
#author {
    float:right;
    top: -320px;
    position: relative;
}
.head {
    color: #91C499;
}
#bio {
    text-align: center;
}
#quote {
    font-style: italic;
}